{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href={% static "images/eyeOriginal.ico" %}>

    <title>EyeSpyAds</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "css/bs/bootstrap.css"%} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "Font-Awesome/css/font-awesome.min.css"  %}>
    <link rel="stylesheet" href={% static  "css/custom/custom.css" %}>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </head>
  <body id="body_j">


    <main role="main" class="container-fluid">


    </main>



    <!-- JavaScript headers-->
    <script>window.jQuery || document.write('<script src={% static "js/jQ/jquery-3.2.1.js" %}><\/script>')</script>
    <script src={% static "js/bs/bootstrap.bundle.js" %}></script>
{#    googleMaps view -> miskien moet ons hierdie eers include saam....#}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCps7dcc2DS-B04K-Lh0HOr_ZM3QvCpjbQ&callback=initMap"></script>
    <script src={% static "js/custom.js" %}></script>
  </body>
</html>
