{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href={% static "images/eyeOriginal.ico" %}>

    <title>EyeSpyAds</title>

    <!-- Bootstrap core CSS -->
    <link href={% static "css/bs/bootstrap.css"%} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "fa/css/font-awesome.min.css"  %}>
    <link rel="stylesheet" href={% static  "css/custom/custom.css" %}>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    
    
  </head>

  <body id="body_j">


    <!-- navbar  --> 
    <div class="container-fluid jub_j">
       
            <nav class="navbar navbar-expand-lg navbar-dark navbar_j m-2 rounded"  >
                <a class="navbar-brand" href="#!"> EyeSpyAds</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="#!">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link " href="#!">Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#!">Advertise Here</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#!">Blog</a>
                    </li>
                </ul>
                  <form class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Search for a business">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                  </form>
            </div>
          </nav>
          
          <div class="jumbotron-fluid jub_j" style="background-image: url({% static "images/core/background.jpg"%});">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <img src={% static "images/core/spy2_cropped.png"%} alt="" style="height: 95mm" class="">

                </div>
                  
                <div class="col-sm-1 align-text-bottom">
                  <!-- do the same without the Breaks -->
                  <br><br><br><br><br><br><br><br><br><br> 
                    <h1 class="display-2 ml-4"><span style="color: var(--bL)">EYE</span><span class="font-weight-bold" style="color: var(--bL)">SPY</span><span style="color: var(--gL)">ADS</span></h1>
                </div>
                <div class="col-sm-4 align-text-bottom">
                    <br><br><br><br>
                    <p class="lead">
                        Give back to the community by advertising your business here.
                      </p> <button type="button" class="btn btn-outline-info">Click here to find out how</button>
                  </div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-3 ">
                      <br><br><br><br><br><br><br>
                        <img src={% static "images/core/magnify2.png"%} alt="" style="height: 50mm" class="">
                    </div>
                
              </div>
            </div>
    </div>   
    
    




    <!-- Iets Wow , image mabey
    <div class="jumbotron jumbotron-fluid jub_j">
      <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies
                        the entire horizontal space of its parent.</p>
      </div>
    </div> -->


    <main role="main" class="container-fluid">

        <br>
    <div class="container">
      <div class="alert alert-danger" role="alert">
        <strong>Warning!</strong> Website is still in develepment mode.
      </div>
      <br>
    </div>
    


      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">

          </div>

          <div class="col-md-10 ">
            

            <br><br><br><br><br>
            <!-- big Add Container -->
            <div class="container-fluid ad_big_j">
              <div class="row">
                <div class="container col-lg-12" >
                  <!-- Main Title  -->
                   <h1 class="display-4 text-center">{{ ad.getTitle }}</h1>
{#                    TODO sit backround van title in#}
                  <img src="./images/td.jpg" alt="" style="width : 100%;">
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="row">
                    
                  </div>
                  <div class="row">                       
                    <div class="col-12"> 
                      <!-- logo main -->

                        <img src= "{{ ad.getLogo }}" alt="" class="logo_j ml-4">
                        <img src= {% static  "advert_data/Plumbers_for_Days_1/plumLogo.png" %} alt="" class="logo_j ml-4">

                      <br><br><br>
                      <!-- Contacnt details -->
                      <div class="card ml-5">
                          <h4 class="card-header">Contact Details</h4>
                          <div class="card-body">
                              {% if ad.website != "" %}
                                <p><i class="fa fa-globe fa-2x align-middle"></i>    {{ ad.website }}</p>
                              {% endif %}
                              {% if ad.email != "" %}
                                <p><i class="fa fa-mail-reply-all fa-2x align-middle"></i>    {{ ad.email }}</p>
                              {% endif %}
                              {% if ad.fb != "" %}
                                <p><i class="fa fa-facebook-official fa-2x align-middle"></i>    {{ ad.fb }}</p>
                              {% endif %}
                              {% if ad.instagram != "" %}
                                <p><i class="fa fa-instagram fa-2x align-middle"></i>    {{ ad.instagram }}</p>
                              {% endif %}
                              {% if ad.twitter != "" %}
                                <p><i class="fa fa-twitter fa-2x align-middle"></i>    {{ ad.twitter }}</p>
                              {% endif %}
                              {% if ad.getNumber != "" %}
                                <p><i class="fa fa-phone-square fa-2x align-middle"></i>     {{ ad.getNumber }}</p>
                              {% endif %}
                          </div>
                      </div>
                        <br>
                      <div class="card ml-5">
                          <h4 class="card-header">Business hours</h4>
                          <div class="card-body">
                            <!-- <h4 class="card-title">Special title treatment</h4> -->
                            <p class="card-text">
                                {% for busHourLine in ad.getBusinessHours %}
                                    {{ busHourLine }}<br>
                                  {% endfor %}
                            </p>
                            <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
                          </div>
                      </div>
                    </div>

                  </div>

                
                  
                </div>
                <div class="col-lg-8">
                  <!-- Description -->
                  <div class=" container">
                    {% for descriptionPart in ad.getDescription %}
                        {{ descriptionPart }}<br>
                  {% endfor %}
                  </div>
                  <br><br>
                  <div class="row">

                      <!-- Photo1 -->
                      <div class="col-4 img">
                          <img src={% static "{{ add.getPhotos[0] }}" %}  alt="" class="img-thumbnail" id="photo_1">
                      </div>
                      <!-- Photo2 -->
                      <div class="col-4 img">
                          <img src={% static "{{ add.getPhotos[1] }}" %}  alt="" class="img-thumbnail"id="photo_2">
                      </div>
                      <!-- Photo3 -->
                      <div class="col-4 img">
                          <img src={% static "{{ add.getPhotos[2] }}" %}  alt="" class="img-thumbnail" id="photo_3">
                      </div>
                      <!-- Photo4 -->
                      <!-- <div class="col-3 img-fluid">
                          <img src="./images/plum4.jpg" alt="" class="ad_photo_j" id="photo_4">
                      </div> -->
                  </div>
                  <div class="row">
                      <div class="col-5 mt-5">

                        <div class="card m-2">
                            <h4 class="card-header">Physical address</h4>
                            <div class="card-body">
                              <!-- <h4 class="card-title">Special title treatment</h4> -->
                              <p class="card-text">
                                  {% for addressLine in ad.physical_address_lines %}
                                    {{ addressLine }}<br>
                                  {% endfor %}
                                </p>
                                
                            </div>
                        </div>
                      </div>
                      <div class="col-7 mt-5">
                        <div id="map"></div>
                      </div>
                      
                  </div>
                  </div>
                </div>
                <div class="row">
                  
                 
                  

                  
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-10">
                    <h5>Tags:
                        {% for badge_ in ad.getTags %}
                            <span class="badge badge-primary">{{ badge_ }}</span>
                        {% endfor %}
                  </h5>
                  </div>
                  <div class="col-1"></div>
                  

                    
                </div>
                  <br>  
              </div>
            </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <!-- The Modal -> Popup photo when clicked :) -->
      <div id="myModal" class="modal">
          <span class="close">×</span>
          <img class="modal-content" id="img01">
          <div id="caption"></div>
      </div>


      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="container mb-2" >
        <!-- SearchList -->

        <h1 class="display-4 mb-4">1 Result for search "Toilet"</h1>
        <div class="container pb-3 pt-3"  style="border-bottom: 2px solid grey;">
          <div class="row">

          <div class="col-1" >
            <!-- Logo -->
            <img src="{{ ad.getLogo }}"alt="" style="width: 100%">

          </div>
          <div class="col-3 justify-content-center">
            <h5>Plumbers for days</h5>
          </div>
          <div class="col-7">Lorem ipsum dolor sit amet consectetur adipisic.</div>
        </div>
       </div>

       <div class="container pb-3 pt-3"  style="border-bottom: 2px solid grey;">
          <div class="row">
          <div class="col-1" >
            <!-- Logo -->
            <img src="{{ ad.getLogo }}"alt="" style="width: 100%">
          </div>
          <div class="col-3 justify-content-center">
            <h5>Plumbers for days</h5>
          </div>
          <div class="col-7">Lorem ipsum dolor sit amet consectetur adipisic.</div>
        </div>
       </div>

       <div class="container pb-3 pt-3"  style="border-bottom: 2px solid grey;">
          <div class="row">
          <div class="col-1" >
            <!-- Logo -->
            <img src="{{ ad.getLogo }}"alt="" style="width: 100%">
          </div>
          <div class="col-3 justify-content-center">
            <h5>Plumbers for days</h5>
          </div>
          <div class="col-7">Lorem ipsum dolor sit amet consectetur adipisic.</div>
        </div>
       </div>

       <div class="container pb-3 pt-3"  style="border-bottom: 2px solid grey;">
          <div class="row">
          <div class="col-1" >
            <!-- Logo -->
            <img src="{{ ad.getLogo }}"alt="" style="width: 100%">
          </div>
          <div class="col-3 justify-content-center">
            <h5>Plumbers for days</h5>
          </div>
          <div class="col-7">Lorem ipsum dolor sit amet consectetur adipisic.</div>
        </div>
       </div>
      </div> 
      
      <br><br><br><br><br><br><br><br><br><br><br>
      <div class="container">
        <h1 class="display-1">You're contributing today.</h1>
        <br><br>
        
        <h1 class="lead">80% of all advertisment cost is going to  .... </h1>
        <img src="{{ ad.getLogo }}"alt="" style="width: 100%">
      </div>
      <br><br>


















      
      <div class="container" >
        <footer>
          <p class="align-content-center">© 2018 Eyespyads. All rights reserved.

            ESA, the ESA logo and all other ESP marks contained herein are trademarks of ESA LLC and/or ESA affiliated companies. All other marks contained herein are the property of their respective owners.</p>
        </footer>
      </div>
      
    </main><!-- /.container -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src={% static "js/jQ/jquery-3.2.1.js" %}><\/script>')</script>

    <!-- jQ UI en Popper en adner JS stuffies om te include wat UI expiernce kan plesent maak :) -->
    <script>document.write('<script src="http://' + (location.host || '${1:localhost}').split(':')[0] + ':${2:35729}/livereload.js?snipver=1"></' + 'script>')</script>
    <script src={% static "js/bs/bootstrap.bundle.js" %}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCps7dcc2DS-B04K-Lh0HOr_ZM3QvCpjbQ&callback=initMap"></script>

    <script src={% static "js/custom.js" %}></script>
  </body>
</html>
