/* Global Varibles */
:root{
  --g : #76ff03;
  --gL: #b0ff57;
  --gD: #32cb00;
  --b : #0277bc;
  --bL: #58a5ef;
  --bD: #004c8b;
  --grey : #efefef;

}

body{
  background: black;
}

.j_green
{
  background-color: var(--g);
}

.navbar_j{
  background-color: var(--b);
}
.btn-outline-success{
  background-color: var(--gL);
}


/* The JubJ se formating and making sure it looks good on 3 types of screens */

.jub_j{

  /*background-image: url("/images/background.jpg");*/
  color: white;
  border: 0ch
}


#body_j
{
  background-color: var(--grey);
}

.logo_j{
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;

}

.ad_photo_j{
  
    border-radius: 4px;

    height: 300px;
    /* width: auto; */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
  
    /* border-bottom: solid 10px #004c8b; */
    /* padding: 5px; */


    cursor: pointer;
    transition: 0.3s;
}

.ad_big_j{
  border-top: 3px solid var(--gL);
  border-left: 3px solid var(--gL);
  border-right: 3px solid var(--bD);
  border-bottom:  3px solid var(--bD);

  border-top-left-radius: 25px;
  border-bottom-right-radius:  25px;

  box-shadow: 5px 5px #DDDDDD;;
  background-color: white;
}



#map {
        height: 250px;
        width: 100%;
       }


/* The Photo clickable PopUp css from w3schools */
.ad_photo_j {
  
}

.ad_photo_j:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

/* FIN */